@charset "UTF-8";
/*全体の設定*/

/*フォント*/

/*Livvic*/

/* IE */

@font-face {
    font-family: Livvic;
    src: url(./fonts/Livvic-Regular.ttf);
    font-weight: 400;
}

/* Firefox, Opera, Safari */

@font-face {
    font-family: Livvic;
    src: url(./fonts/Livvic-Regular.ttf) format('truetype');
    font-weight: 400;
}

/*Noto Sans Japanese*/

@font-face {
    font-family: 'Noto Sans JP';
    src: url(./fonts/NotoSansJP-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url(./fonts/NotoSansJP-Regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url(./fonts/NotoSansJP-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url(./fonts/NotoSansJP-Medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url(./fonts/NotoSansJP-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url(./fonts/NotoSansJP-Bold.otf) format('opentype');
    font-weight: 700;
}

body {
    margin: 0;
    font-family: 'Livvic', 'Noto Sans JP', sans-serif;
    font-weight: 400;
}

/*ヘッダーの設定*/

header {
    position: fixed;
    width: 100%;
    height: 50.75px;
    background-color: #ade800;
    z-index: 99;
    top: 0px;
    z-index: 99;
}

/*タイトル画像の設定*/

#title {
    margin-left: 30px;
    text-align: left;
    height: 38.75px;
    padding-top: 5px;
    padding-bottom: 7px;
}

#title_image {
    width: 130px;
    image-rendering: -webkit-optimize-contrast;
    ;
}

#title_icon {
    display: none;
    width: 30px;
    image-rendering: -webkit-optimize-contrast;
}

.header_strong {
    display: inline-block;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 10px;
    vertical-align: top;
}

/*ナビゲーションバーの設定*/

.header_nav {
    list-style-type: none;
    display: inline;
    float: right;
    margin: 0;
}

@media screen and (min-width: 720px) {
    .header_list {
        line-height: 51px;
        padding: 0 25px;
        display: block;
        float: left;
        font-size: 25px;
        background-color: #ade800;
        transition-property: background-color;
        transition-duration: 500ms;
        transition-delay: 0s;
    }
}

/*リンクの上にカーソルが乗ったとき*/

.header_list:hover {
    background-color: #98cc00;
}

.header_link {
    text-decoration: none;
    color: black;
}

/*=========ナビゲーションのためのCSS===============*/

@media screen and (max-width: 720px) {
    #header_nav {
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position: fixed;
        z-index: 999;
        /*ナビのスタート位置と形状*/
        top: 0;
        right: -120%;
        width: 50%;
        height: 100vh;
        /*ナビの高さ*/
        background: #70df27;
        /*動き*/
        transition: all 0.6s;
    }
    /*アクティブクラスがついたら位置を0に*/
    #header_nav.panelActive {
        right: 0;
    }
    /*ナビゲーションの縦スクロール*/
    #header_nav.panelActive #g-nav-list {
        /*ナビの数が増えた場合縦スクロール*/
        position: fixed;
        z-index: 999;
        width: 50%;
        height: 100vh;
        /*表示する高さ*/
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    /*ナビゲーション*/
    #header_list {
        /*ナビゲーション天地中央揃え*/
        position: absolute;
        z-index: 999;
        padding: 0;
        width: 100%;
        margin-top: 150px;
        border-top: solid 2px #22c414;
    }
    /*リストのレイアウト設定*/
    .header_list {
        width: 100%;
        line-height: 150%;
        display: block;
        font-size: 1.5em;
        background-color: #70df27;
        transition-property: background-color;
        transition-duration: 500ms;
        transition-delay: 0s;
        list-style: none;
        text-align: center;
        border-bottom: solid 2px #22c414;
    }
    .header_list:hover {
        background-color: #48b117;
    }
    .header_link {
        color: #333;
        text-decoration: none;
        padding: 10px 0;
        display: block;
    }
    /*========= アイコンのためのCSS ===============*/
    #title_icon {
        display: inline-block;
        margin-top: 4px;
        width: 30px;
        margin-left: 30px;
    }
    #title {
        text-align: center;
        position: fixed;
        z-index: 999;
        /*ナビのスタート位置と形状*/
        top: 0;
        right: -120%;
        width: 50%;
        margin-top: 50px;
        margin-left: 0;
        /*動き*/
        transition: all 0.6s;
    }
    .header_strong {
        display: block;
    }
    #title.titleActive {
        right: 0;
    }
    /*========= ボタンのためのCSS ===============*/
    /*ボタン外側*/
    .openBtn {
        position: absolute;
        /*ボタン内側の基点となるためrelativeを指定*/
        z-index: 9999;
        background: #2696e0;
        right: 20px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        border-radius: 5px;
    }
    /*ボタン内側*/
    .openBtn span {
        display: inline-block;
        transition: all 0.6s;
        /*アニメーションの設定*/
        position: absolute;
        left: 11px;
        height: 2px;
        border-radius: 5px;
        background: #fff;
        width: 45%;
    }
    .openBtn span:nth-of-type(1) {
        top: 9px;
    }
    .openBtn span:nth-of-type(2) {
        top: 15px;
    }
    .openBtn span:nth-of-type(3) {
        top: 21px;
    }
    .openBtn span:nth-of-type(3)::after {
        content: "Menu";
        /*3つ目の要素のafterにMenu表示を指定*/
        position: absolute;
        top: 5px;
        left: -5px;
        color: #fff;
        font-size: 0.6rem;
        text-transform: uppercase;
    }
    /*activeクラスが付与されているとき、ボタンを動かさない.*/
    .openBtn.active {
        position: fixed;
    }
    /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
    .openBtn.active span:nth-of-type(1) {
        top: 10px;
        left: 14px;
        transform: translateY(6px) rotate(-45deg);
        width: 30%;
    }
    .openBtn.active span:nth-of-type(2) {
        opacity: 0;
    }
    .openBtn.active span:nth-of-type(3) {
        top: 22px;
        left: 14px;
        transform: translateY(-6px) rotate(45deg);
        width: 30%;
    }
    .openBtn.active span:nth-of-type(3)::after {
        content: "Close";
        /*3つ目の要素のafterにClose表示を指定*/
        transform: translateY(0) rotate(-45deg);
        top: 5px;
        left: 2px;
    }
}

/*重ならないように*/

#margin_div {
    height: 60px;
}

/*javascriptが無効のとき*/

#alert {
    display: block;
    width: 550px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #ff831d;
    text-align: center;
}

/*見出し*/

h1 {
    margin: 10px 0;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

h2 {
    margin: 20px 0;
    background-color: #eee;
    font-size: 30px;
    padding: 10px 30px;
    margin-left: 0px;
    font-weight: 500;
    border-left: solid 20px #ade800;
}

h3 {
    font-size: 20px;
    border-left: solid 20px #ade800;
    margin: 20px;
    font-weight: 500;
    padding: 5px 30px;
}

.center_p {
    margin: 5px 0;
    text-align: center;
}

/*電卓*/

main {
    margin: 30px 0;
}

#white {
    display: inline-block;
    width: 12%;
    height: 290px;
    z-index: 66;
    background-color: white;
    position: relative;
}

#setNav {
    position: relative;
    z-index: 9;
    /*ナビのスタート位置と形状*/
    left: -75%;
    top: -290px;
    width: 75%;
    height: 250px;
    /*ナビの高さ*/
    background: #ddd;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/

#setNav.setPanelActive {
    left: 12%;
}

/*ナビゲーションの縦スクロール*/

#setNav.setPanelActive #setNav-list {
    z-index: 9;
    width: 30%;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/

#setNav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}

/*リストのレイアウト設定*/

#setNav li {
    display: block;
    list-style: none;
    text-align: center;
}

#setNav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    letter-spacing: 0.1em;
    font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/

.humbugger {
    position: relative;
    z-index: 77;
    cursor: pointer;
    padding: 5px 15px 3px 5px;
    top: -175px;
    display: inline;
}

.material-icons-round.md-36 {
    font-size: 36px;
}

.downCalc {
    width: 88%;
    position: relative;
    left: 12%;
    top: -530px
}

.settings {
    display: inline-block;
    height: 100px;
    padding: 0 1%;
}

#setting_h2 {
    margin: 0;
    background-color: #ddd;
    font-size: 25px;
    padding: 0;
    border: none;
}

.on_off {
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 15px;
    cursor: pointer;
}

#buttons {
    display: inline-block;
    width: 90%;
    position: relative;
}

/*答えのところ*/

#answer {
    padding: 20px;
    max-width: 80%;
    height: 40px;
    overflow: auto;
    background-color: #ffe935;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: right;
    font-size: 26px;
}

#cursor {
    display: inline-block;
    background-color: #000;
    width: 2px;
    height: 30px;
    margin-left: 5px;
    position: relative;
    top: 5px;
}

/*ボタン*/

button {
    width: 14%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 0;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 0s;
    font-family: 'Livvic', 'Noto Sans JP', sans-serif;
}

.blueButton {
    background-color: #3cd5ff;
}

.pinkButton {
    background-color: #ffadd2;
}

.greenButton {
    background-color: #96e034;
}

.blueButton:hover {
    background-color: #3cbfff;
}

.pinkButton:hover {
    background-color: #ff8cc0;
}

.greenButton:hover {
    background-color: #8cd62b;
}

.blueButton:active {
    background-color: #3c8ff0;
}

.pinkButton:active {
    background-color: #ff638a;
}

.greenButton:active {
    background-color: #76ba1e;
}

@media screen and (max-width: 700px) {
    .downCalc {
        left: 5%;
        width: 95%;
    }
    #white {
        width: 5%;
    }
    #setNav {
        width: 90%;
        left: -90%
    }
    #setNav.setPanelActive {
        left: 5%;
    }
    button {
        width: 15%;
    }
    #buttons {
        width: 80%;
    }
    .humbugger {
        padding-right: 5px;
    }
}

@media screen and (max-width: 350px) {
    .material-icons-round.md-36 {
        font-size: 24px;
    }
    button {
        width: 13%;
    }
}

/*説明欄*/

section {
    margin-bottom: 20px;
    padding: 5%;
}

section p {
    margin-left: 10px;
}

h3 p {
    margin-left: 5%;
}

/*フッター*/

footer {
    background-color: #2b3a61;
    padding: 30px;
    line-height: 25px;
    color: white;
    margin-top: 30px;
}

.footer_1 {
    margin-bottom: 10px;
    text-align: left;
}

.footer_span {
    font-size: 30px;
}

.footer_a {
    display: inline-block;
    margin-left: 30px;
    color: white;
}

.footer_p {
    color: #afc4f8;
    margin-top: 0;
    text-align: right;
    margin-left: 10px;
}

.margin-left_div {
    margin-left: 30px;
    display: inline-block;
}

.footer_3 {
    color: #83b2de;
    text-align: left;
}

.footer_3 a {
    color: #3cd5ff;
}

.noLivvic {
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 720px) {
    .footer_1 {
        text-align: center;
    }
    .footer_1 a {
        display: block;
        margin: 10px 0;
    }
    .footer_p>span {
        display: block;
        margin: 10px 0;
        text-align: center;
    }
    .footer_p {
        margin-top: 50px;
    }
    .footer_3 {
        margin-top: 50px;
    }
}